*{
    margin:0;
    padding:0;
    
}

.navigation{
    height:100px;
    max-width: 100vw;
    background-color: aqua;
    justify-content: space-between;
    display: flex;
    margin: auto;
    align-items: center;

}
 
.left{

     font-weight: 400;
     font-size: large ;
}
.ipsearch{

    padding: 0px;
    border: 2px solid black;
}
.navvy li {
    display:inline-block;
    list-style: none;
    padding: 0 15px;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
}
.navvy li a{
    text-decoration: none;
}

.navvy{
    display: inline-block;
}


.content{
    background-color: aquamarine;
    justify-content: space-between;
    margin: auto;  
}

.mainimg{
    width:99vw;
    height:100vh;
    position: relative;
    
    opacity: 0.9;
    
}
.blog{
    position: absolute;
    top:90%;
    left:20%;
    font-size: 5vw;
    font-weight: 600;
    color: white;
    
}
.im1 p{
    text-align: left;
    padding: 1rem;
}

.article1{
    justify-content: space-around;
    
}
.artitem{
    display: inline-flex;
    list-style-type: none;

}

.artimg{
    width:34vw;
    height:34vh;
    padding: 1rem;

}

.artimg:hover{
    scale: 1.1;
    transition: 0.8s;
  }


.ud2{
    display:flex;
    padding:1rem;
}
.ud1img{
    position:relative;
    width:98vw;
}
.head{
    position: absolute;
    font-size: 5vw;
    font-weight: 600;
    top:0;
    left:45%;
}

.udmain{
position: relative;
background-color: rgb(220, 212, 102);

}
.lehmain{
    background-color:rgb(29, 50, 83);
}


.moti{
    width: 45vw;
    height:30vw;
    padding:1rem;
}

.footer{
    height: 200px;
    max-width: 100vw;
    background-color: bisque;
    justify-content: space-between;
    display: flex;
    margin: auto;


}

