*{
    margin:0;
    padding:0;
    
}

.navigation{
    height:91px;
    max-width: 100vw;
    background-color:rgb(236, 210, 236);
    justify-content: space-between;
    display: flex;
    margin: auto;
    align-items: center;
    z-index: 10;
    position: sticky;
    top:0;

}


.nav-link{
    font-size: 120%;
    font-family: 'Rye', cursive;
    color: purple;
}

.right{
    width:40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color:blue;

}

.hamburger{
    display:none;
    cursor:pointer;
}
.bar{
    display:block;
    width:25px;
    height:3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out ;
    transition: all 0.3s ease-in-out;
    background-color: yellow;
}




/* .navvy{
    position: fixed;
    left:-100%;
    top:70px;
    gap:0;
    flex-direction: column;
    background-color: green;
    width:100%;
    text-align: center;
    transition: 0.3s;
} */

.navvy{
    position: static;
    right:0;
    top:0;
    flex-direction: row;
    height:100%;
    background-color:rgb(236, 210, 236);
    width:100%;
    text-align: center;
    transition: 0.3s;
}
.navvy li{
    margin:16px 0;
}

.navvy.active{
    right:0;
}


 
.left{

     font-weight: 400;
     color: rgb(16, 15, 15);
     font-family: 'Spicy Rice', cursive;
}

.navvy li {
    display:inline-block;
    list-style: none;
    padding: 0 15px;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
}
.navvy li a{
    text-decoration: none;
}

.navvy{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.home:hover  .content{
    display:contents;
}



.dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    background-color: azure;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #2ebc3c;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #5e1256;
    background-color: #00A4BD;
  }

  .photo{
    height:30%;
    width:50%;
  }


.content{
    background-color: ivory;
    justify-content: space-between;
    margin: auto;  
}

.mainimg{
    width:98.7vw;
    height:100vh;
    position: relative;
    
    opacity: 0.9;
    
}
.blog{
    position: absolute;
    top:90%;
    left:20%;
    font-size: 5vw;
    font-weight: 600;
    color: rgb(245,255,250);
    
}
.im1 p{
    text-align: left;
    padding: 1rem;
}

.article1{
    justify-content: space-around;
    
}
.artitem{
    display: inline-flex;
    list-style-type: none;

}

.artitemli{
    width:43vw;
}

.artimg{
    width:32vw;
    height:34vh;
    padding: 1rem;

}

.artimg:hover{
    scale: 1.1;
    transition: 0.8s;
  }

.im1{
    box-shadow:  3px 10px 16px 2px rgb(0, 51, 255);
   margin:1rem;
}

.head{
    font-family: 'Playball', cursive    
}


.ud2{
    display:flex;
    padding:1rem;
}
.ud1img{
    position:relative;
    width:98vw;
}
.head{
    position: absolute;
    font-size: 5vw;
    font-weight: 600;
    top:0;
    left:35%;
}

.udmain{
position: relative;
background-color: rgb(220, 212, 102);

}
.lehmain{
    background-color:rgb(29, 50, 83);
}


.moti{
    width: 45vw;
    height:30vw;
    padding:1rem;
}
.keralamain{
    background-color: rgb(255,228,225);
}

.rishimain{
    background-color: rgb(128,0,128);
}


.im1ud p{
    text-align: left;
    padding: 1rem;
}

.im1ud{
    box-shadow:  3px 10px 16px 2px rgb(70, 151, 64);
     margin: 0.5rem;
    
}


.im1r p{
    text-align: left;
    padding: 1rem;
}

.im1r{
    box-shadow:  3px 10px 16px 2px rgb(250, 255, 250);
     margin: 0.3rem;
    
}

.exp-img-ud{
    box-shadow:  3px 10px 16px 2px rgb(228, 243, 16);
    margin:1rem;
}

.exp-img-r{
    box-shadow:  3px 10px 16px 2px rgb(202, 98, 230);
    margin:1rem;
}

.exp-img-k{
    box-shadow:  3px 10px 16px 2px rgb(226, 130, 212);
    margin:1rem;
}


.im1k{
    box-shadow:  3px 10px 16px 2px rgb(65, 217, 141);
     margin: 0.3rem;
     
     
}

.im1l{
    box-shadow:  3px 10px 16px 2px rgb(0, 51, 255);
   margin:0.3rem;
}
.im1l p{
}

 .im1r h2,.im1l h2, .im1ud  h2,.im1k h2{
    font-family: 'Dangrek';
 }


.cen{
    font-family: 'Carter One';
}

.exp-img-ud p{
    font-family: 'Dangrek';
}



.artitemli {
    box-shadow: 2px 2px 4px 1px rgb(255, 0, 106);
    transition: 0.3s;
    padding: 1rem;
    margin:1rem;
}
.artitemli:hover{
    box-shadow:  3px 10px 16px 2px rgb(0, 51, 255);
}

.write{
    background-color: rgb(201, 241, 201);
    height:15rem;
    padding: 2rem  0  0  4rem;
    display:flex;
    
}

.wimg{
 padding-bottom:2rem ;
 padding-left:17rem ;

}

.write1{
    padding-left: 3rem;
}


.tap{
    height: 3rem;
    width: 12rem;
    margin:3rem 0 0 7rem;
    
}

.tap{
    
}




.form{
    box-shadow:  7px 20px 19px 2px rgb(100, 104, 122);
     width:45vw;
     padding: 5rem;
     padding-bottom: 10rem;
     
     margin:  2rem 6rem 6rem 6rem ;
     height:100 rem;
     background-color: linen;

}

.label{
    font-size: 2rem;
    color:rgb(21, 20, 20);
    font-family: 'Spicy Rice', cursive;

    
}

.input{
    height:2rem;
    width:20rem;
    margin:0.5rem;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}
.textarea{
  width: 100%;
  height: 25rem;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.submit{
    height:3rem;
    width:7rem;
    margin:3rem;
    background-color: rgb(230, 197, 240);
    border-radius: 2rem;
}

.reset{
    height:3rem;
    width:7rem;
    margin:3rem  2rem;
    background-color: rgb(230, 197, 240) ;
    border-radius: 2rem;
}


.foot {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(191, 198, 248);
    height: 45vh;
    width:98.7vw;
  }
  
  .foot ul {
    display: flex;
    margin: 1rem;
    position: relative;
    align-items: center;
    text-align: center;
    list-style: none;
  }
  
  .foot ul li img {
    width: 100%;
  }
  
  .foot ul li:hover {
    transition: 0.6s;
    scale: 1.5;
  }
  
  .credits {
    text-align: center;
    font-size: 25px;
    color:black;
    background-color: rgb(235, 150, 182);
    font-family: 'Kenia', cursive;


  }
  .headf{
    
    margin-left: 3.3rem;
    font-size: 40px;
    text-decoration: none;
    color: black;
    border-radius: 1.25rem;
    padding-top: 2rem;
  }
  .imgf{
    width:3rem;
    height:3rem;
  }
  .foot li{
    margin:2rem;
  }

  @media only screen and (max-width:768px){
    .hamburger{
        display: block;

    }
    .hamburger.active .bar:nth-child(2){
        opacity:0.;
    }
    
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .right{
    width: 30%;
     height: 250px;
     display:none;
    }
    .navvy{
        position: absolute;
        top: 64px;
        right:0;
        flex-direction: column;
        height: 250px;
        text-align: center;
        transition: 0.3s;
        z-index: 5;
        width:30%;
       
    } 
}